<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006917265437-q9s2uhl9na1effk8p1u7ab8f6bsb3e2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006917265437-q9s2uhl9na1effk8p1u7ab8f6bsb3e2e</string>
	<key>API_KEY</key>
	<string>AIzaSyBMS1AdqEUeoBZ3K_0MhOgvlTdYwC4uedY</string>
	<key>GCM_SENDER_ID</key>
	<string>1006917265437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ilyaagoryaev.Finance</string>
	<key>PROJECT_ID</key>
	<string>finance-3fe1b</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-3fe1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006917265437:ios:212d965fd9523e56447ef4</string>
</dict>
</plist>